{% extends "base.html" %}
{% block text %}
<h1>Калькулятор опыта Minecraft!</h1>
<p><i>06.08.2026</i></p>
<p>Второй пост. Прошло с первого поста почти месяц</p>
<p>Я сделал <b>калькулятор</b> опыта Minecraft по занятию, которое был сегодгня</p>
<p>Пост короткий, да. Но мне ничего больше сказать</p>
<hr />
    <h1>Мой первый пост!</h1>
    <p><i>16.07.2026.</i></p>
    <p>Это мой первый пост, который я создал по заданию</p>
    <p>Здесь я планирую писать всякую белиберду</p>
    <p>Мои любимые игра: <b>Roblox</b> и <b>Fable</b></p>
    <p><i>Увидимся ещё вновь</i></p>
    <p><h6>кстати я научился элементу hr, который разделяет абзацы, или в данном случаи посты</h6><p>
{% endblock %} 